<div class="navbar">
    <a href="/streamDream"><img src="https://user-images.githubusercontent.com/98247684/165502380-500cd3b2-a238-45e7-8ad1-db79cd302a82.png" alt="StreamDream" class ="logo"/> </a>
    <a href="/streamDream"> STREAM DREAM</a>
    <form class="searchBar">
        <input class="searchInput" type="search" placeholder="Search"></input>
        <button type="submit" class="searchButton">
            <img src="https://www.kindacode.com/wp-content/uploads/2020/12/search.png" class="searchIcon"/>
        </button>
    </form>
    <div class="navIcons">
        <span class="hovertext" data-hover="Notifications">
            <a href=#><img src="https://cdn2.vectorstock.com/i/thumb-large/94/36/notification-bell-icon-inbox-message-vector-20579436.jpg/" class="notificationIcon"></a>
          </span>
        <span class="hovertextUpload" data-hover="Upload Content">
            <a href="/streamDream/new"><img src ="https://i.imgur.com/Grhgw97.png" class="uploadIcon"/></a>
          </span>
        <span class="hovertextProfile" data-hover="Profile">
            <a href=#><img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" class="profileIcon"/></a>
          </span>
        
        
        
    </div>
</div>