<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
    <%- include('partials/nav.ejs') %> 

    <body>
        <div class="formBox">  
            <form method="POST" action="/streamDream" id="form">
                <h3>Add New Artist</h3>
              
                <div>
                    <label for="artist">Artist Name:</label>
                    <input id="artist" name="artist" type="text"/>
                </div>
                <div>
                    <label for="img">Artist Photo:</label>
                    <input id="img" name="img" type="text"/>
                </div>
                <div>
                    <label for="headerImg">Header Image:</label>
                    <input id="headerImg" name="headerImg" type="text"/>
                </div>
                <div>
                    <label for="bio">Bio:</label>
                    <input id="bio" name="bio" type="text"/>
                </div>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </form>
          </div>
        



    </body>
</html>

